.social-link-custom {
    display: block;
    height: 4rem;
    width: 4rem;
    line-height: 4.3rem;
    font-size: 1.5rem;
    /* background-color: #1D809F; */
    background-color: #1d809f;
    color: #fff;
    transition: background-color 0.15s ease-in-out;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  }
  
  .social-link-custom:hover, .social-link-custom:focus {
    /* background-color: #155d74; */
    background-color: #286090 ;
    text-decoration: none;
    color: #fff;
  }

  
.masthead {
  /* background: url("../img/programming-banner.png"); */
}
