<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Blog Home - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ "blog/vendor/bootstrap/css/bootstrap.min.css" | absolute_url }}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ "blog/css/blog-home.css" | absolute_url }}" rel="stylesheet">

  <link href="{{ "css/custom.css" | absolute_url }}" rel="stylesheet">

  <script src="/blog/vendor/jquery/jquery.min.js"></script>
  <script src="/blog/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script data-ad-client="ca-pub-6364529691759278" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</head>